{% extends "predict/layout.html" %}

{% block body %}
<script>
    function isNotFinite(input) {
        return isFinite(input) === false
    }
    function validate() {
        const responses = [
            document.forms["reg"]["square_feet"].value,
            document.forms["reg"]["beds"].value,
            document.forms["reg"]["baths"].value,
            document.forms["reg"]["lot_sqft"].value,
            document.forms["reg"]["year_built"].value,
            document.forms["reg"]["garages"].value
        ];
        if (responses.some(isNotFinite)) {
            alert("All form inputs must be numeric!");
            return false;
        }
    }
</script>
<h2>Fill in your house's stats here.</h2>
<form name="reg" method="POST" onsubmit="return validate()" action="{% url 'index' %}">
    {% csrf_token %}
    <div class="grid">
        {% for input in form %}
        {{ input }}
        {% endfor %}
    </div> 
    <input class="submit" type="submit" value="Predict Worth">
    <input class="submit" type="submit" formaction="{% url 'saved' %}" value="Save">
</form>
{% if prediction %}
<h2 id="pred">Your house is estimated to be worth ${{ prediction }}!</h2>
{% endif %}
{% endblock %}