{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Predict Your Home Price</title>
        <link rel="stylesheet" href="{% static 'predict/styles.css' %}">
    </head>
    <body>
        <h1 id="title">MLS Predictions</h1>
        <div class="grid0">
            <a id="index" href="{% url 'index' %}">Predict</a>
            <div>
                <h4 id="sub">Predict the price of your home in Folsom, CA.</h4>
            </div>
            <a id="saved" href="{% url 'saved' %}">Saved Predictions</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>